## Business Problem

American Mortgage Bank grapples with the complexities of an evolving real estate landscape, navigating through shifting market dynamics and fluctuating trends. As the bank aims to refine its lending strategies, enhance risk assessments, and innovate its suite of mortgage products, it encounters obstacles in deciphering the nuances of the ever-changing market.

In response to these challenges, American Mortgage Bank seeks to harness the power of data-driven insights and advanced analytics to gain a comprehensive understanding of market trends. By leveraging predictive tools and machine learning algorithms, VitaGroup aims to revolutionize the real estate market by providing financial institutions with a deeper understanding of market trends through time series analysis. This insight will inform lending strategies and facilitate innovation in the range of mortgage products offered by the bank.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Neighborhood_month.csv")
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
0,112345,0,Maryvale,neighborhood,AZ,AZ,Phoenix,"Phoenix-Mesa-Chandler, AZ",Maricopa County,67383.031641,...,3.176412e+05,3.194960e+05,3.219764e+05,3.249856e+05,3.276488e+05,3.300777e+05,3.321366e+05,3.337132e+05,3.347330e+05,3.357045e+05
1,192689,1,Paradise,neighborhood,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,133640.057992,...,3.607395e+05,3.614624e+05,3.632721e+05,3.661695e+05,3.690387e+05,3.715277e+05,3.736861e+05,3.757784e+05,3.776834e+05,3.795126e+05
2,270958,2,Upper West Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,394692.554604,...,1.293743e+06,1.287903e+06,1.281592e+06,1.271799e+06,1.261754e+06,1.250664e+06,1.238787e+06,1.231254e+06,1.225646e+06,1.219479e+06
3,270957,3,Upper East Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,641748.074378,...,1.265151e+06,1.259556e+06,1.255193e+06,1.250717e+06,1.246179e+06,1.237942e+06,1.226768e+06,1.216496e+06,1.209650e+06,1.203629e+06
4,118208,4,South Los Angeles,neighborhood,CA,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,130878.148719,...,6.354036e+05,6.391914e+05,6.465671e+05,6.564532e+05,6.664609e+05,6.749575e+05,6.815551e+05,6.858569e+05,6.835768e+05,6.770799e+05

In [3]:
#getting data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21662 entries, 0 to 21661
Columns: 299 entries, RegionID to 2024-02-29
dtypes: float64(290), int64(2), object(7)
memory usage: 49.4+ MB

In [4]:
#checking shape for the dataset
df.shape

(21662, 299)

## Data Cleaning

To ensure the development of a robust and accurate model, several data cleaning techniques will be applied to the dataset. The following techniques will be employed:

- Completeness: This technique involves addressing missing values within the dataset. Steps will be taken to identify and handle missing data appropriately, either through imputation or removal, to ensure that the dataset is complete.

- Consistency: The consistency of the data will be examined to identify any discrepancies or irregularities. Inconsistencies in variables, such as conflicting formats or conflicting information within the dataset, will be addressed and resolved to maintain data integrity.

- Validity: Validity refers to the accuracy and relevance of the data. Data validation techniques will be applied to verify that the values within each variable align with expected ranges or predefined criteria. Any invalid or erroneous data points will be rectified or removed from the dataset.

- Uniformity: Uniformity is crucial during the data cleaning process to ensure consistency and accurate analysis. Inconsistent or non-uniform data can introduce errors and bias into the modeling process, leading to unreliable results. Robust techniques will be employed to detect and handle non-uniformity effectively, ensuring that the data is standardized and aligned.

By applying these data cleaning techniques, the dataset will be refined and prepared, ensuring the reliability and accuracy of the data before proceeding with the subsequent stages of analysis and modeling.

### Completeness
To achieve completeness in our data, I will be checking for missing values in the data.

In [5]:
# Check for null values
print(f'The data has {df.isna().sum().sum()} missing values')

The data has 1505110 missing values

In [6]:
# Define a function to explore missing data
def missing_data(df):
    missing_data = df.isna().sum()
    missing_data = missing_data[missing_data>0]
    return missing_data.to_frame()

In [7]:
# expanding the number of visible columns
pd.set_option('display.max_columns', None)

In [8]:
# Apply missing_data function to the dataframe
missing_data(df).T

,City,Metro,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,2000-11-30,2000-12-31,2001-01-31,2001-02-28,2001-03-31,2001-04-30,2001-05-31,2001-06-30,2001-07-31,2001-08-31,2001-09-30,2001-10-31,2001-11-30,2001-12-31,2002-01-31,2002-02-28,2002-03-31,2002-04-30,2002-05-31,2002-06-30,2002-07-31,2002-08-31,2002-09-30,2002-10-31,2002-11-30,2002-12-31,2003-01-31,2003-02-28,2003-03-31,2003-04-30,2003-05-31,2003-06-30,2003-07-31,2003-08-31,2003-09-30,2003-10-31,2003-11-30,2003-12-31,2004-01-31,2004-02-29,2004-03-31,2004-04-30,2004-05-31,2004-06-30,2004-07-31,2004-08-31,2004-09-30,2004-10-31,2004-11-30,2004-12-31,2005-01-31,2005-02-28,2005-03-31,2005-04-30,2005-05-31,2005-06-30,2005-07-31,2005-08-31,2005-09-30,2005-10-31,2005-11-30,2005-12-31,2006-01-31,2006-02-28,2006-03-31,2006-04-30,2006-05-31,2006-06-30,2006-07-31,2006-08-31,2006-09-30,2006-10-31,2006-11-30,2006-12-31,2007-01-31,2007-02-28,2007-03-31,2007-04-30,2007-05-31,2007-06-30,2007-07-31,2007-08-31,2007-09-30,2007-10-31,2007-11-30,2007-12-31,2008-01-31,2008-02-29,2008-03-31,2008-04-30,2008-05-31,2008-06-30,2008-07-31,2008-08-31,2008-09-30,2008-10-31,2008-11-30,2008-12-31,2009-01-31,2009-02-28,2009-03-31,2009-04-30,2009-05-31,2009-06-30,2009-07-31,2009-08-31,2009-09-30,2009-10-31,2009-11-30,2009-12-31,2010-01-31,2010-02-28,2010-03-31,2010-04-30,2010-05-31,2010-06-30,2010-07-31,2010-08-31,2010-09-30,2010-10-31,2010-11-30,2010-12-31,2011-01-31,2011-02-28,2011-03-31,2011-04-30,2011-05-31,2011-06-30,2011-07-31,2011-08-31,2011-09-30,2011-10-31,2011-11-30,2011-12-31,2012-01-31,2012-02-29,2012-03-31,2012-04-30,2012-05-31,2012-06-30,2012-07-31,2012-08-31,2012-09-30,2012-10-31,2012-11-30,2012-12-31,2013-01-31,2013-02-28,2013-03-31,2013-04-30,2013-05-31,2013-06-30,2013-07-31,2013-08-31,2013-09-30,2013-10-31,2013-11-30,2013-12-31,2014-01-31,2014-02-28,2014-03-31,2014-04-30,2014-05-31,2014-06-30,2014-07-31,2014-08-31,2014-09-30,2014-10-31,2014-11-30,2014-12-31,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,2015-10-31,2015-11-30,2015-12-31,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,2016-10-31,2016-11-30,2016-12-31,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,2017-06-30,2017-07-31,2017-08-31,2017-09-30,2017-10-31,2017-11-30,2017-12-31,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,2018-09-30,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
0,2,14,10478,10400,10389,10380,10316,10303,10294,10270,10261,10252,10247,10211,10007,9943,9831,9804,9797,9787,9774,9748,9696,9660,9644,9634,9516,9507,9500,9327,9275,9093,9077,9061,9045,9030,9020,9015,8837,8827,8811,8797,8756,8748,8686,8485,8442,8401,8385,8379,8228,8222,8236,8191,8193,8177,8163,8105,8071,8063,8021,8009,7766,7741,7740,7729,7722,7709,7704,7658,7647,7640,7629,7604,7450,7440,7438,7432,7411,7400,7387,7355,7334,7345,7346,7303,7087,7079,7074,7069,7058,7044,7035,6950,6926,6902,6886,6873,6706,6696,6699,6708,6700,6671,6653,6633,6609,6514,6487,6475,6013,5916,5895,5883,5871,5862,5854,5850,5839,5833,5831,5819,5627,5619,5615,5610,5607,5590,5576,5562,5553,5547,5542,5526,5396,5396,5389,5387,5388,5384,5377,5368,5372,5345,5333,5312,5024,5010,4998,4994,4978,4966,4952,4924,4896,4877,4850,4810,4364,4347,4330,4316,4299,4288,4267,4248,4232,4210,4194,4174,4093,4080,4071,4056,4045,4033,4020,4009,3983,3969,3951,3922,3797,3784,3763,3742,3722,3706,3692,3671,3648,3624,3599,3575,3519,2673,2671,2658,2657,2656,2656,2653,2654,2652,2652,2652,2654,2546,2545,2546,2545,2542,2541,2539,2537,2538,2539,2538,2535,2346,2346,2346,2343,2342,2341,2342,2340,2340,2339,2336,2340,2156,2150,2147,2144,2142,2141,2139,2138,2137,2137,2137,2140,2033,2035,2029,2028,2027,2028,2025,2039,2046,2058,2023,2019,1892,1909,1932,1918,1898,1894,1894,1896,1888,1888,1886,1887,1692,1689,1689,1689,1689,1692,1691,1697,1688,1688,1688,1690,1661,1660,1659,1657,1657,1657,1657,1656,1439,804,147

- The date columns have 10478 missing values each metro column has 14 missing values while city has 2.

- The missing values in the date columns will be filled through interpolation.
- The missing values in the metro column will be replaced with 'missing' as this may be a useful indicator.
- The missing calues in city column will be droped since it does not cover a higher percentage.

In [9]:
# imputing the missing values by replacing them with 'missing'
df.Metro.fillna('missing', inplace=True)

In [10]:
#drop missing values in the 'City' column
df.dropna(subset=['City'], inplace=True)

In [11]:
# interpolate missing values on date columns
df.interpolate(inplace=True)

In [12]:
# checking to see if missing values have been replaced
print(f'The data has {df.isna().sum().sum()} missing values')

The data has 0 missing values

### Consistency
For the data to be constistent, I need to resolve any inconsistencies by checking for duplicate values in our data.

In [13]:
# checking for duplicates
print(f'The data has {df.duplicated().sum()} duplicates')

The data has 0 duplicates

- The data has no duplicate values

### Validity

For our data to be valid, I have to verify that every column is accurate and appropriate for this analysis and remove those that are invalid.

In [14]:
#validity checks
df.head(2)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,2000-11-30,2000-12-31,2001-01-31,2001-02-28,2001-03-31,2001-04-30,2001-05-31,2001-06-30,2001-07-31,2001-08-31,2001-09-30,2001-10-31,2001-11-30,2001-12-31,2002-01-31,2002-02-28,2002-03-31,2002-04-30,2002-05-31,2002-06-30,2002-07-31,2002-08-31,2002-09-30,2002-10-31,2002-11-30,2002-12-31,2003-01-31,2003-02-28,2003-03-31,2003-04-30,2003-05-31,2003-06-30,2003-07-31,2003-08-31,2003-09-30,2003-10-31,2003-11-30,2003-12-31,2004-01-31,2004-02-29,2004-03-31,2004-04-30,2004-05-31,2004-06-30,2004-07-31,2004-08-31,2004-09-30,2004-10-31,2004-11-30,2004-12-31,2005-01-31,2005-02-28,2005-03-31,2005-04-30,2005-05-31,2005-06-30,2005-07-31,2005-08-31,2005-09-30,2005-10-31,2005-11-30,2005-12-31,2006-01-31,2006-02-28,2006-03-31,2006-04-30,2006-05-31,2006-06-30,2006-07-31,2006-08-31,2006-09-30,2006-10-31,2006-11-30,2006-12-31,2007-01-31,2007-02-28,2007-03-31,2007-04-30,2007-05-31,2007-06-30,2007-07-31,2007-08-31,2007-09-30,2007-10-31,2007-11-30,2007-12-31,2008-01-31,2008-02-29,2008-03-31,2008-04-30,2008-05-31,2008-06-30,2008-07-31,2008-08-31,2008-09-30,2008-10-31,2008-11-30,2008-12-31,2009-01-31,2009-02-28,2009-03-31,2009-04-30,2009-05-31,2009-06-30,2009-07-31,2009-08-31,2009-09-30,2009-10-31,2009-11-30,2009-12-31,2010-01-31,2010-02-28,2010-03-31,2010-04-30,2010-05-31,2010-06-30,2010-07-31,2010-08-31,2010-09-30,2010-10-31,2010-11-30,2010-12-31,2011-01-31,2011-02-28,2011-03-31,2011-04-30,2011-05-31,2011-06-30,2011-07-31,2011-08-31,2011-09-30,2011-10-31,2011-11-30,2011-12-31,2012-01-31,2012-02-29,2012-03-31,2012-04-30,2012-05-31,2012-06-30,2012-07-31,2012-08-31,2012-09-30,2012-10-31,2012-11-30,2012-12-31,2013-01-31,2013-02-28,2013-03-31,2013-04-30,2013-05-31,2013-06-30,2013-07-31,2013-08-31,2013-09-30,2013-10-31,2013-11-30,2013-12-31,2014-01-31,2014-02-28,2014-03-31,2014-04-30,2014-05-31,2014-06-30,2014-07-31,2014-08-31,2014-09-30,2014-10-31,2014-11-30,2014-12-31,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,2015-10-31,2015-11-30,2015-12-31,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,2016-10-31,2016-11-30,2016-12-31,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,2017-06-30,2017-07-31,2017-08-31,2017-09-30,2017-10-31,2017-11-30,2017-12-31,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,2018-09-30,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
0,112345,0,Maryvale,neighborhood,AZ,AZ,Phoenix,"Phoenix-Mesa-Chandler, AZ",Maricopa County,67383.031641,67594.528159,67876.303176,68492.532408,69174.305303,69800.457539,70421.136885,71051.780181,71735.008552,72362.307816,72964.869522,73552.527578,74153.196631,74758.925790,75378.089768,75964.876243,76512.540459,76998.708325,77444.604032,77861.418771,78335.805428,78852.272025,79407.318942,79886.223943,80287.318124,80673.299747,81090.978139,81511.538587,81871.363367,82228.883231,82616.778770,83066.909712,83471.328939,83856.974634,84195.961031,84542.84774,84863.049342,85184.362803,85455.290841,85794.777316,86151.639288,86554.870088,86935.835967,87348.756099,87862.947077,88440.516765,88984.482664,89432.937004,89793.043871,90235.353959,90811.466901,91446.641385,92185.582369,92922.032398,93992.194018,95249.242127,96483.444923,97693.450019,98879.462203,100402.196317,102133.562258,104359.759393,106590.101769,109034.773693,111640.020871,115117.796388,119087.454984,123056.332610,127285.319061,131123.567309,134998.558029,137640.827448,139268.394440,141652.773958,144685.064411,148250.083680,150682.075572,152488.949424,153539.671472,153959.304748,153934.341837,154478.772075,154879.883661,155261.395399,155405.385578,155750.522187,156366.837196,157229.399438,158073.501491,158254.425111,157800.74253,156805.720239,155510.843920,154005.402843,151802.533186,149243.527747,146465.27775,143059.441991,139541.101328,135159.769098,131539.900195,127371.373748,122858.477611,116628.938870,109956.867154,102784.467104,95902.583327,89042.865595,82685.624676,77285.228867,72956.889206,69863.921752,67233.778691,64979.043061,62769.995878,60893.717964,59487.645356,58514.672575,58237.376743,58205.545220,58547.832496,58774.719005,59009.076940,59187.098816,59091.349382,58850.763777,58045.116643,57294.785276,56121.685902,55115.904922,53976.192078,52896.443344,51560.158100,50200.530098,49164.345931,48352.012981,47754.282189,47134.791943,46830.380965,46764.835226,46814.011310,46687.93611,46544.073949,46725.151865,47209.043790,47832.464134,48463.365671,49409.067268,50850.940419,52504.226989,54401.932508,56260.330382,58457.022810,60608.573253,62760.650802,64632.388373,66364.040894,68005.268286,69787.700196,72059.670747,74595.387777,77185.405851,79630.322335,82050.893790,84591.651027,87280.537242,89686.486021,91782.992651,93973.97047,96115.213875,97901.486581,98986.058971,99901.536589,100759.106427,101671.527021,102572.422082,103397.499679,103954.314845,104467.629098,105053.700500,105562.325618,106194.385229,107160.487805,108762.673771,110795.098861,113094.114158,115431.572135,117575.372706,119685.868881,121838.028311,124043.277271,126190.805352,128630.524105,131263.802494,133639.271368,135431.265239,136847.768357,138161.196849,139583.188942,140955.742510,142521.156394,143900.352332,145071.499207,146073.926385,147132.704943,148395.451068,149692.722919,150903.527454,152156.929445,153696.236460,155398.274479,157013.484237,158470.444021,159735.604091,160826.397505,161802.034106,163162.918393,164866.357907,166680.508205,168137.269282,169733.485553,171504.780719,173600.076791,175376.260047,176961.674466,178312.785564,179760.141129,181308.111280,183279.592769,185598.239079,187877.440511,189715.670022,191094.907236,192376.033872,193369.134668,194424.128003,195416.602723,196971.051292,198793.430176,200852.779862,203250.684065,206476.361766,210081.889139,213194.892007,215068.357661,215893.311416,216779.256103,218345.634793,221263.235017,224850.713322,229180.634684,233799.439521,238648.293900,243381.032334,248643.239521,254137.289258,260554.678238,267744.160894,275428.661665,282840.564707,289443.297884,295470.639963,301346.077043,307150.772405,313526.865458,320371.438389,327775.094370,335661.286278,343528.977630,350591.957567,354526.618329,354089.374398,349760.197841,343687.376456,337186.207947,330696.240339,324338.935439,319186.584474,316608.167039,316345.610485,317641.229647,319495.956406,321976.389059,324985.559655,327648.788835,330077.685631,332136.569632,333713.210295,334733.047115,335704.461883
1,192689,1,Paradise,neighborhood,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,133640.057992,133601.887385,133821.864483,134309.989801,134979.911695,135566.591666,136017.346152,136437.263631,136928.064722,137507.434436,138191.412042,138867.568883,139559.171348,140317.974418,141181.008999,142028.738895,142931.647435,143751.729034,144588.099658,145428.844650,146278.668730,147120.479905,147840.723518,148614.526410,149361.048529,149999.764934,150695.831954,151465.334047,152343.641078,153018.118424,153584.245045,154057.260204,154489.023461,155125.848135,156001.386636,157072.91036,158165.641579,159273.550003,160433.932513,161571.704926,162855.460853,164117.477424,165532.353597,167051.965721,168901.393777,170951.544483,173461.712856,176082.102702,179070.974746,182017.359314,186351.724060,190973.694957,196930.281540,203084.656576,211159.335478,218702.409333,227310.557844,233809.568726,239668.275284,243857.693634,247463.386535,252429.105315,257462.144898,264363.136503,269110.506250,272672.640096,274470.719301,277020.286129,279122.445247,280776.841322,281733.400704,282561.359675,283562.450134,284178.334301,286025.014843,288456.913917,291341.728883,292751.814934,293270.070254,293035.593807,292791.133545,292195.393794,291155.851537,290460.809432,289577.274640,289038.512128,288360.232313,286968.441144,285116.907820,282505.162834,279294.53139,276056.936619,272430.957258,269168.814811,264089.674494,258380.453868,251167.59653,243470.299861,235809.805559,229509.525341,224353.121651,218546.100491,212466.206679,206282.864283,199957.887600,193899.837519,187368.992233,181696.117850,175720.669834,170911.248255,166214.018896,161361.374833,155622.711575,149453.408379,143143.769425,137757.404166,133517.266893,130735.127076,128781.029367,127065.560655,126090.852605,125249.795025,124367.508394,123085.074665,121713.843706,120866.153208,120055.455627,119276.017648,118230.774184,117326.697524,116833.149278,116215.203114,115039.047422,113309.761519,111535.676908,109779.150095,108631.696030,107192.241545,106145.988027,104652.286568,103853.673728,103251.62273,102801.272933,102352.820943,102151.759976,102043.471645,101719.370806,101214.622271,101150.380780,102190.977427,103905.429376,105934.970856,107956.517654,109915.435324,112046.473928,114001.537483,116198.451290,118469.119439,121110.830381,124181.376342,127919.217134,132294.950927,136671.619976,140508.685812,143817.174745,146649.247154,149116.615302,150733.273594,151825.20075,153034.236847,154313.220292,155921.321195,157349.130914,159183.217457,160823.069614,162054.085321,162809.140600,163210.712623,164055.691801,164813.297211,165726.454422,166394.634489,167191.112637,168191.101000,169589.826034,171512.210753,173543.941652,175144.764611,176515.005134,177683.170149,179105.523918,180315.196402,181540.659634,182720.891064,183699.037030,184781.335531,185673.947238,186808.608580,187558.274813,187906.050299,188238.995319,188829.403363,189950.020346,191256.880897,193021.019972,195396.241207,198167.303709,200966.964629,203409.566364,205899.637252,208644.449150,211665.980650,214814.931712,217974.533312,220935.764445,223948.796785,226635.715437,229294.067446,231874.315077,234526.298726,237461.582288,240536.272543,244089.794454,247711.495866,251108.385233,253878.257372,256034.109555,257505.056689,258504.346278,259519.422596,260503.091295,261423.036844,261662.932829,261922.241166,262070.095831,262446.352743,262556.703773,262663.552044,262947.530072,263483.618675,264491.500576,265584.559147,267056.545346,268534.461120,269319.999070,269464.409267,269545.431687,270467.164180,272120.560217,274205.040950,277119.440096,280615.429429,284250.163049,287817.576775,291756.567091,296203.227709,301780.336089,308400.455804,315257.437584,321149.680357,325615.893648,329628.057674,334101.880868,338690.095959,345111.574943,353213.691625,363649.261667,374274.239597,384122.507069,392036.280274,396686.771441,397208.371324,393964.870608,388925.765135,382863.237767,376991.914060,371152.015927,366432.785882,363066.390455,361270.012130,360739.542375,361462.395712,363272.109670,366169.539479,369038.650496,371527.745231,373686.075887,375778.421957,377683.400854,379512.609375

In [15]:
#droping statename since we also have state column with the same values
df.drop(columns=['StateName'],inplace=True)

### Uniformity
- For our data to be uniform, I have to verify that every column is correct and convert them to there appropriate data type.

In [16]:
#checking for data types
df.dtypes

RegionID        int64
SizeRank        int64
RegionName     object
RegionType     object
State          object
               ...
2023-10-31    float64
2023-11-30    float64
2023-12-31    float64
2024-01-31    float64
2024-02-29    float64
Length: 298, dtype: object

### Data Preprocessing

#### Feature engineering

To improve our analysis, we will  create new features for more analytical value.

### Return on Investment (ROI)

ROI is a measure of returns expected from investments.

### Coefficient of variation (CV)

CV is a measure of the dispersion of data points around the mean and represents the ratio of the standard deviation to the mean. It allows investors to determine how much volatility, or risk, is assumed in comparison to the amount of return expected from investments.

In [17]:
#calculating and creating ROI column
df['ROI'] = (df['2024-02-29']/ df['2000-01-31'])-1

In [18]:
# Calculate mean and standard deviation along the columns axis (axis=1) for each row
mean_values = df.iloc[:, 9:].mean(axis=1)  
std_values = df.iloc[:, 9:].std(axis=1)

# Calculate coefficient of variation (CV) using the formula
cv_values = (std_values / mean_values) * 100

# Add the CV column to the DataFrame
df['CV'] = cv_values

### Reshape from wide to long format
To facilitate time series analysis, the dataframe will be transformed from a wide view to a long view format. This transformation involves restructuring the dataframe to have a single column for the Date and another column for the corresponding values. The Date column will be set as the index to establish the temporal order of the data points.

By converting the dataframe to a long view format and indexing it by the Date, the data will be organized in a sequential manner, enabling the application of time series analysis techniques such as trend analysis, seasonality detection, and forecasting. This transformation allows for a more comprehensive exploration of the temporal patterns and trends within the dataset, enhancing the accuracy and effectiveness of the subsequent time series modeling and predictions.

In [19]:
# Create a copy of the dataset to convert into long view while preserving df as a wide view for EDA
new_df = df.copy()

In [20]:
# creating a function that changes the dataframe structure from wide view to long view

def melt_df(data):
    melted = pd.melt(data, id_vars=['RegionID','RegionName','RegionType','City', 'State', 'Metro', 'CountyName', 'SizeRank',
                                  'ROI', 'CV' ], var_name='Date')
    melted['Date'] = pd.to_datetime(melted['Date'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted

In [21]:
new_df = melt_df(new_df)

C:\Users\odhiambo rodgers bon\AppData\Local\Temp\ipykernel_5916\2810894411.py:6: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  melted['Date'] = pd.to_datetime(melted['Date'], infer_datetime_format=True)

#### Convert  data to date time and indexing
Working with time series data in Python, having dates (or datetimes) in the index can be very helpful, especially if they are of DatetimeIndex type as the index allows for intuitive and efficient time-based indexing and slicing operations. It enables easy access to specific time periods, such as a particular day, month, or year. Additionally, the DatetimeIndex provides convenient methods for resampling, time shifting, and frequency conversion.

In [22]:
# Converting the date data type into date time and indexing
new_df['Date']=pd.to_datetime(new_df['Date'],format='%m/%y')

# Set the 'Date' column as index
new_df.set_index('Date',inplace=True)

In [23]:
# renaming the column value to Homevalue
new_df.rename(columns = {"value" : "Homevalue"}, inplace=True)

In [24]:
#displaying the final data
new_df.head()

,RegionID,RegionName,RegionType,City,State,Metro,CountyName,SizeRank,ROI,CV,Homevalue
Date,,,,,,,,,,,
2000-01-31,112345,Maryvale,neighborhood,Phoenix,AZ,"Phoenix-Mesa-Chandler, AZ",Maricopa County,0,3.982033,59.394305,67383.031641
2000-01-31,192689,Paradise,neighborhood,Las Vegas,NV,"Las Vegas-Henderson-Paradise, NV",Clark County,1,1.839812,38.067356,133640.057992
2000-01-31,270958,Upper West Side,neighborhood,New York,NY,"New York-Newark-Jersey City, NY-NJ-PA",New York County,2,2.089694,29.376597,394692.554604
2000-01-31,270957,Upper East Side,neighborhood,New York,NY,"New York-Newark-Jersey City, NY-NJ-PA",New York County,3,0.875548,19.879574,641748.074378
2000-01-31,118208,South Los Angeles,neighborhood,Los Angeles,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,4,4.173361,48.362609,130878.148719

### Exploratory Data Analysis

In [26]:
plot_most_popular_categorical(new_df, "City")

NameError: name 'plot_most_popular_categorical' is not defined